.blogItem {

    border-radius: 20px;

    position: relative;
}

.blogItem:nth-child(1) {
    border: 1px solid #fff5;
    border-bottom: none;
    border-right: none;
    position: relative;
    z-index: 1;
}

.blogItem:nth-child(1)::after {
    content: '';
    height: 90%;
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, #020106 20%);
    transform: translateX(-50%);
    z-index: -1;
}

.blogItem:nth-child(3) {
    border: 1px solid #fff5;
    border-bottom: none;
    border-left: none;
    position: relative;
    z-index: 1;
}

.blogItem:nth-child(3)::after {
    content: '';
    height: 90%;
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparent, #020106 20%);
    transform: translateX(50%);
    z-index: -1;
}

.blogItem:nth-child(2) {
    border: 1px solid #fff5;
    border-bottom: none;
    position: relative;
    z-index: 1;
}

.blogItem:nth-child(2)::after {
    content: '';
    height: 40%;
    width: 105%;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: linear-gradient(transparent, #020106 30%);
    transform: translateX(-50%);
    z-index: -1;
}