.react-tabs__tab-list {
    border: none;
}

.react-tabs__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 10px 30px;
    border: 1px solid #fff5;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
}

.react-tabs__tab--selected {
    background: linear-gradient(90deg, rgba(113, 78, 255, 0.20)0%, rgba(113, 78, 255, 0.00)100%);
    color: #fff;
}

.react-tabs__tab:focus:after {
    content: '';
    position: absolute;
    height: 0px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}