.heroSection{
    background: linear-gradient(#7551FA , #110932);
    height: auto;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.heroSection::after{
    content: '';
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent,#180955, #020106);
    z-index: -1;
}