@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.bg-blur {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  filter: blur(130px);
  background: #714EFF;
}